<%= form_with(model: @word, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @word.errors.any? %>
    <div id="error_explanation">
      <h2><%= @word.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="word_writer">
    <p>投稿者: <%= form.text_field :writer %></p>
  </div>
  <div class="word_title">
    <p>つぶやき: <%= form.text_field :content %></p>
  </div>
  <%= form.submit "つぶやく" %>
<% end %>

<%= link_to "つぶやき一覧画面にもどる", words_path %>